$number-font: "Arvo";

$primary-lighter: #73AAC2;
$primary-light: #44798F;
$primary-mid: #27576B;
$primary-dark: #123747;
$primary-darker: #051A23;

$secondary-lighter: #7C93C9;
$secondary-light: #4E6498;
$secondary-mid: #2E4272;
$secondary-dark: #16264B;
$secondary-darker: #071025;

$tertiary-lighter: white;
$tertiary-light: #45997B;
$tertiary-mid: #267257;
$tertiary-dark: #104B36;
$tertiary-darker: #042519;

$warning-primary: #3E3009;
$warning-secondary: #E66D04;

$ease-out: cubic-bezier(0.165, 0.840, 0.440, 1.000);
@mixin switch($font-size, $width) {
    input {
        display: none !important;

        & + span {
            width: $width;
            border-radius: $font-size / 2;
            height: $font-size;
            display: block;
            background-color: #ccc;
            font-weight: normal;
            position: relative;

            &:after {
                line-height: $font-size;
                content: "\f05b\f15a";
                font-size: $font-size * 0.75;
                font-family: "FontAwesome";
                margin-left: $width / 10;
                letter-spacing: $font-size / 4;
            }

            &:before {
                transition: margin 0.4s;
                display: block;
                background-color: white;
                height: $font-size;
                width: $font-size;
                border-radius: $font-size / 2;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                content: "";
                position: absolute;
            }
        }
        
        &:checked + span {
            &:before {
                margin-left: $width - $font-size;
            }
        }
    }
}

@mixin progress-bar($percent) {
    background: linear-gradient(to right, $primary-dark $percent, $primary-lighter $percent, $primary-lighter $percent);
}

@mixin battery-icon($icon) {
    &:before {
    }

    @include medium {
        &:before { content: "" }
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin smaller {
    @media (min-width: 400px) {
        @content
    }
}

@mixin small {
    @media (min-width: 550px) {
        @content
    }
}

@mixin medium {
    @media (min-width: 750px) {
        @content
    }
}

@mixin large {
    @media (min-width: 1000px) {
        @content
    }
}

@mixin larger {
    @media (min-width: 1200px) {
        @content
    }
}

block-item {
    padding: 2%;
    background: $tertiary-lighter;

    border: 0.2rem solid $tertiary-dark;
    margin-bottom: 2rem;

    h1 {
        margin: 0;
        line-height: 5.0rem;
        color: $tertiary-dark;

        @include medium {
            max-width: 70%;
            display: inline-block;
        }
    }
}

block-item-main-icon {
    float: left;
    color: $tertiary-light;
    font-size: 3rem;
    width: 3rem;
}

body {
    background: white;
    margin: 0;
}

h1 {
    margin-left: 2rem;
}

.overview {
    p {
        display: inline-block;
        width: 30.6666666667%;
        padding: 1rem;
        color: $primary-dark;
        text-align: right;
        font-family: $number-font;
        margin-bottom: 0;
    }
}

.overbudgeted {
    color: $warning-primary;
    text-shadow: 0px 0px 6px $warning-secondary;
}

nav {
    font-size: 0;
    div {
        display: inline-block;
        width: 25%;
        text-align: center;
        font-size: 2rem;
        line-height: 200%;

        &.active {
            background: $primary-lighter;
        }

        span {
            display: none;
            @include medium {
                display: inline;
            }
        }
    }

    a {
        text-decoration: none;
        color: $primary-mid;
    }
}

div.content {
    background: white;
    padding: 0;
    @include medium {
        border-top: 0.2rem solid $primary-lighter;
        padding: 2% 0;
    }
}

.button.button {
    @include border-radius(initial);
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: white;
    color: $secondary-mid;
    border: 0.1rem solid $secondary-dark;
    display: inline-block;
    font-size: 2.2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    text-transform: none;
    margin-bottom: 0.5rem;

    &.long {
        width: auto;
        padding: 0 1rem;
    }

    &:hover {
        color: $secondary-lighter;
    }
}

button-inverse {
    color: $primary-dark;
    background: $primary-lighter;
}

thead {
    display: none;

    @include small {
        display: table-header-group;
    }
}

tfoot td {
    text-align: right;
    padding: 0 2rem;
    border: 0;

    a {
        color: $secondary-mid;
        font-size: 3.0rem;
    }
}

.kitty {
    @extend block-item;

    .kitty {
        box-shadow: 1rem 1rem 2rem 0px rgba(0,0,0,0.25);
    }

    h1 {
        font-size: 3rem;

        .kitty-type {
            @extend block-item-main-icon;
        }
    }

    .controls {
        display: inline-block;
        float: left;
        clear: left;
        
        height: 3.0rem * 1.6;
        width: 4.8rem * 2;

        margin-top: 0.5rem;
        margin-bottom: 2rem;

        @include medium {
            float: right;
            position: relative;
            top: 0.5rem;
            width: 4.8rem * 4;
            text-align: right;
        }
    }

    &.open {
        > header .controls a.show-transactions {
            @extend button-inverse;
        }

        > div.transactions {
            max-height: 1000rem;
            opacity: 1;
            transition: opacity 0.5s , max-height 0.3s;
        }
    }

    div.transactions {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: opacity 0.3s $ease-out, max-height 0.3s $ease-out;
    }

    p.budgeted {
        color: $tertiary-darker;
        font-family: $number-font;
        font-size: 3.0rem;

        .earmarked {
            opacity: 0.4;
            font-size: 2.5rem;
        }

        span {
            display: block;
            text-align: right;
        }

        margin-bottom: 0;

        @include medium {
            height: 1.0rem;
            margin: 0.5rem 0 6.0rem 0.5rem;
            font-size: 3.0rem;
            border: 0.1rem solid $primary-mid;
            position: initial;

            span {
                box-sizing: border-box;
                position: relative;
                top: 1.0rem;
                display: inline-block;
            }
        }
    }

    td {
        &.field-account {
            display: none;
            @include small {
                display: table-cell;
            }
        }
        &.field-date {
            white-space: nowrap;
        }
    }

    th {
        @extend td
    }

    header {
        @include medium {
            &:after { content: "" }
        }

        &.used-0 {
            @include battery-icon("\f240");
            .budgeted {
                @include medium {
                    @include progress-bar(100%);
                }
            }
        }

        &.used-10 {
            @include battery-icon("\f240");
            .budgeted {
                @include medium {
                    @include progress-bar(90%);
                }
            }
        }

        &.used-20 {
            @include battery-icon("\f240");
            .budgeted {
                @include medium {
                    @include progress-bar(80%);
                }
            }
        }

        &.used-30 {
            @include battery-icon("\f241");
            .budgeted {
                @include medium {
                    @include progress-bar(70%);
                }
            }
        }

        &.used-40 {
            @include battery-icon("\f241");
            .budgeted {
                @include medium {
                    @include progress-bar(60%);
                }
            }
        }

        &.used-50 {
            @include battery-icon("\f242");
            .budgeted {
                @include medium {
                    @include progress-bar(50%);
                }
            }
        }

        &.used-60 {
            @include battery-icon("\f242");
            .budgeted {
                @include medium {
                    @include progress-bar(40%);
                }
            }
        }

        &.used-70 {
            @include battery-icon("\f242");
            .budgeted {
                @include medium {
                    @include progress-bar(30%);
                }
            }
        }

        &.used-80 {
            @include battery-icon("\f243");
            .budgeted {
                @include medium {
                    @include progress-bar(20%);
                }
            }
        }

        &.used-90 {
            @include battery-icon("\f244");
            .budgeted {
                @include medium {
                    @include progress-bar(10%);
                }
            }
        }

        &.used-100 {
            @include battery-icon("\f244");
            .budgeted {
                @include medium {
                    @include progress-bar(0%);
                }
            }
        }
    }
}

.add-kitty, .add-account {
    @extend block-item;

    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    margin-bottom: 0;

    border-style: dashed;
    border-color: $tertiary-light;

    &.open .add-icon span {
        top: -5rem;
        transition: top 0.5s $ease-out;
    }
    &.open.changed .add-icon span {
        top: -10rem;
        transition: top 0.5s $ease-out;
    }
    .add-icon {
        overflow: hidden;
        color: $primary-lighter;
        display: block;
        height: 5rem;

        span, span button {
            display: block;
            font-size: 3rem;
            line-height: 5rem;
            position: relative;
            transition: top 0.5s $ease-out;
            top: 0;
            border: 0;
            background: none;
        }
        span button {
            display: inline;
            color: $primary-lighter;
        }
    }

    &.open form {
        height: 17rem;
        transition: height 0.5s $ease-out;
    }
    form {
        height: 5rem;
        overflow: hidden;
        margin-bottom: 0;
        transition: height 0.5s $ease-out;

        div {
            display: table;
            table-layout: fixed;
            width: 100%;

            &.checkboxes {
                input {
                    display: none;
                }

                label {
                    display: table-cell;
                    font-size: 3rem;
                    color: $primary-mid;
                    cursor: pointer;
                    border: 2px solid $primary_mid;
                    border-top: none;
                    border-right: none;
                    margin-bottom: 1.5rem;

                    &:last-child {
                        border-right: 2px solid $primary_mid;
                    }

                    &:hover {
                        background-color: $tertiary-light;
                        color: $tertiary-lighter;
                    }
                }

                input:checked + label {
                    background: $primary-lighter;
                }
            }

            input {
                display: table-cell;
                width: 70%;
                vertical-align: middle;
                font-size: 3rem;
                height: 5rem;
                font-family: inherit;
                border-radius: 0;
                border: 2px solid $primary_mid;
                box-sizing: border-box;
                box-shadow: inset 2px 2px 12px $tertiary-light;
                margin: 0;

                + input {
                    border-left: none;
                }

                &[type=number] {
                    width: 30%;
                }
            }
        }
    }
}

.account {
    @extend block-item;

    h1 {
        @include medium {
            display: inline-block;
        }
    }
    .account-type {
        @extend block-item-main-icon;
        font-size: 4rem;
    }

    .account-balance {
        @extend h1;
        float:right;
        font-family: $number-font;
        font-size: 4rem;
    }
}

.calendar {
    display: table;
    border-collapse: collapse;

    .calendar-week {
        display: table-row;
        .calendar-day {
            display: table-cell;
            border: 0.2rem solid $tertiary-dark;
            height: (90vw / 7);
            cursor: pointer;
            position: relative;

            &:hover {
                background: $primary-lighter;
            }

            &.last-month, &.next-month {
                border-style: dashed;
                border-color: $tertiary-light;
            }

            span.mday {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                line-height: 1.5rem;
            }
        }
    }
}
