body {
    background: #033B51;
}

nav div {
    text-align: center;
    font-size: 2em;
    line-height: 200%;
}

nav div.active {
    background: #06526F;
}

nav a {
    text-decoration: none;
    color: #7DB7CD;
}

div.content {
    background: #06526F;
    padding: 2%;
}

.kitty {
    padding: 4%;
    background: #46D192;
    border-radius: 1rem;
    border: 0.2rem solid #239461;
    /*
    box-shadow: inset 1rem 1rem 2rem 0px rgba(0,0,0,0.25);
    */
    margin-bottom: 2rem;
}

.kitty .kitty {
    box-shadow: 1rem 1rem 2rem 0px rgba(0,0,0,0.25);
}

.kitty .kitty-type {
    float: right;
    color: #178844;
    font-size: 5.0rem;
    line-height: 5.0rem;
}

.kitty h1 {
    display: inline-block;   
}

.kitty p.budgeted {
    font-size: 3.0rem;
    overflow: hidden;
}

.kitty p.budgeted span {
}

.kitty p.budgeted .spent {
}

.kitty p.budgeted .earmarked {
    
}

header.used-60 .budgeted {
    background: linear-gradient(to right, #033B51 40%, #7DB7CD 40%, #7DB7CD 40%); /* W3C */
    margin-bottom: 1.2rem;
    border: 0.1rem solid #033B51;
}

header.used-60 .budgeted .spent {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding-right:1%;
    box-sizing: border-box;
    color: #7DB7CD;
}

header.used-60 .budgeted .earmarked {
    display: inline-block;
    text-align: left;
    color: #033B51;
}

div.buttons {
    margin-left: 2rem;
    position: relative;
    top: -1rem;
}

div.buttons, div.buttons button {
    display: inline-block;
    font-size: 2rem;
}

div.buttons button {
    padding: 0.4rem 1.5rem;
    background: #033B51;
    color: #7DB7CD;
    height: initial;
}
